<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Create Plushy | Y2Plush</title>
  </head>
  <body
    class="font-montserrat text-text-light fill-text-light from-secondary-dark to-secondary min-h-screen w-full bg-linear-to-b before:pointer-events-none before:fixed before:inset-0 before:-z-10 before:bg-[url('/images/wallpapers/homepage-bgi.png')] before:bg-repeat before:opacity-[0.03] before:content-['']"
  >
    <%- include("partials/navbar.ejs") %>
    <main class="mt-[67px] flex items-center justify-center p-6">
      <form
        class="border-border-dark text-neutral-text-dark space-y-4 rounded-xl border-4 bg-gradient-to-b from-[#FFD6FF] from-0% via-white via-20% to-white to-100% p-8 font-medium"
        action="/create"
        method="POST"
      >
        <h1 class="text-text-dark font-comico mb-6 text-3xl">Create Plushy</h1>
        <%- include("partials/errors.ejs") %>
        <div class="flex flex-wrap gap-4">
          <div class="flex min-w-[200px] flex-1 flex-col gap-1">
            <label class="ml-2" for="name"
              >Name<span class="text-red-500">*</span></label
            >
            <input
              class="border-neutral-border h-9 w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
              type="text"
              name="name"
              id="name"
              maxlength="255"
              required
            />
          </div>
          <div class="flex min-w-[200px] flex-1 flex-col gap-1">
            <label class="ml-2" for="creationDate"
              >Creation Date<span class="text-red-500">*</span></label
            >
            <input
              class="border-neutral-border h-9 w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
              type="date"
              name="creationDate"
              id="creationDate"
              value="<%= new Date().toISOString().split('T')[0] %>"
              required
            />
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <label class="ml-2" for="imgUrl"
            >Image URL<span class="text-red-500">*</span></label
          >
          <input
            class="border-neutral-border h-9 w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
            type="url"
            name="imgUrl"
            id="imgUrl"
            required
          />
        </div>
        <div class="w-full">
          <img
            class="mt-2 hidden h-full max-h-40 rounded object-cover shadow"
            id="imgPreview"
            src=""
            alt="Image preview of the url inputted"
          />
        </div>
        <div class="relative flex flex-col gap-1">
          <label class="ml-2" for="desc">Description</label>
          <textarea
            class="border-neutral-border w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-5% to-[#F7F7F7] to-100% px-2 py-1"
            name="desc"
            id="desc"
            rows="4"
            maxlength="500"
          ></textarea>
          <small
            id="descCharacterCount"
            class="text-neutral-text-muted pointer-events-none absolute right-0 bottom-0 px-2 py-0.5"
            >500</small
          >
        </div>
        <div class="flex flex-wrap gap-4">
          <div class="relative flex min-w-[200px] flex-1 flex-col gap-1">
            <label class="ml-2" for="price"
              >Price (in €)<span class="text-red-500">*</span></label
            >
            <input
              class="border-neutral-border h-9 w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
              type="number"
              name="price"
              id="price"
              min="0"
              step="0.01"
              required
            />
          </div>
          <div class="flex min-w-[200px] flex-1 flex-col gap-1">
            <label class="ml-2" for="size"
              >Size<span class="text-red-500">*</span></label
            >
            <select
              class="border-neutral-border h-9 w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
              name="size"
              id="size"
              required
            >
              <option value="" selected disabled>Select a size</option>
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
            </select>
          </div>
        </div>
        <fieldset
          class="border-neutral-border space-y-1 rounded-md border-2 p-2"
        >
          <legend class="px-1">
            In which categories the plushy belongs to?
          </legend>

          <div class="grid grid-cols-3 grid-rows-2 space-x-3">
            <div>
              <input type="checkbox" name="y2kOption" id="y2kOption" />
              <label for="y2kOption">Y2K</label>
            </div>
            <div class="">
              <input
                type="checkbox"
                name="japaneseStyleOption"
                id="japaneseStyleOption"
              />
              <label for="japaneseStyleOption">Japanese-style</label>
            </div>
            <div>
              <input
                type="checkbox"
                name="cottagecoreOption"
                id="cottagecoreOption"
              />
              <label for="cottagecoreOption">Cottagecore</label>
            </div>
            <div>
              <input type="checkbox" name="gothicOption" id="gothicOption" />
              <label for="gothicOption">Gothic</label>
            </div>
            <div>
              <input
                type="checkbox"
                name="pastelEmoOption"
                id="pastelEmoOption"
              />
              <label for="pastelEmoOption">Pastel Emo</label>
            </div>
            <div>
              <input type="checkbox" name="retroOption" id="retroOption" />
              <label for="retroOption">Retro</label>
            </div>
          </div>
        </fieldset>
        <fieldset
          class="border-neutral-border space-y-1 rounded-md border-2 p-2"
        >
          <legend class="px-1">What material is the plushy made of?</legend>

          <div class="grid grid-cols-3 grid-rows-2">
            <div>
              <input type="checkbox" name="plushOption" id="plushOption" />
              <label for="plushOption">Plush</label>
            </div>
            <div>
              <input type="checkbox" name="feltOption" id="feltOption" />
              <label for="feltOption">Felt</label>
            </div>
            <div>
              <input type="checkbox" name="cottonOption" id="cottonOption" />
              <label for="cottonOption">Cotton</label>
            </div>
            <div>
              <input
                type="checkbox"
                name="polyesterOption"
                id="polyesterOption"
              />
              <label for="polyesterOption">Polyester</label>
            </div>
            <div>
              <input type="checkbox" name="minkyOption" id="minkyOption" />
              <label for="minkyOption">Minky</label>
            </div>
            <div>
              <input type="checkbox" name="fleeceOption" id="fleeceOption" />
              <label for="fleeceOption">Fleece</label>
            </div>
          </div>
        </fieldset>
        <div class="flex flex-wrap gap-4">
          <div class="flex min-w-[200px] flex-1 flex-col gap-1">
            <label for="squishiness"
              >How Squishy is it?<span class="text-red-500">*</span></label
            >
            <select
              class="border-neutral-border h-9 w-full space-x-3 rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
              name="squishiness"
              id="squishiness"
              required
            >
              <option value="" selected disabled>Select squishiness</option>
              <option value="not-squishy">Not squishy</option>
              <option value="kinda-squishy">Kinda squishy</option>
              <option value="pretty-squishy">Pretty squishy</option>
              <option value="really-squishy">Really squishy</option>
            </select>
          </div>
          <div class="flex min-w-[200px] flex-1 flex-col gap-1">
            <label for="stocksLeft"
              >Stocks left<span class="text-red-500">*</span></label
            >
            <input
              class="border-neutral-border h-9 w-full rounded-md border-2 bg-gradient-to-b from-[#E5E5E5] from-0% via-[#F7F7F7] via-10% to-[#F7F7F7] to-100% px-2 py-1"
              type="number"
              name="stocksLeft"
              id="stocksLeft"
              min="0"
              required
            />
          </div>
        </div>
        <button
          class="text-text-light bg-primary-dark mx-auto mt-6 block cursor-pointer rounded-md border-2 border-pink-950 px-3 py-1 text-xl font-semibold transition-colors hover:border-pink-300"
          type="submit"
        >
          Create
        </button>
      </form>
    </main>
    <script>
      const imgUrlInput = document.getElementById("imgUrl");
      const imgPreview = document.getElementById("imgPreview");

      const isImageUrl = (url) => /\.(jpeg|jpg|gif|png|webp|svg)$/i.test(url);

      imgUrlInput.addEventListener("input", () => {
        const url = imgUrlInput.value.trim();
        if (url) {
          if (isImageUrl(url)) {
            imgPreview.src = url;
            imgPreview.alt = "Image preview of the url inputted";
          } else {
            imgPreview.src = "/images/image-placeholder.png";
            imgPreview.alt =
              "Please enter a direct link to an image (jpg, png, gif, webp, svg)";
          }
          imgPreview.classList.remove("hidden");
        } else {
          imgPreview.src = "";
          imgPreview.classList.add("hidden");
        }
      });

      const descInput = document.getElementById("desc");
      const descCharacterCount = document.getElementById("descCharacterCount");
      const maxLength = descInput.maxLength;

      descInput.addEventListener("input", () => {
        const currentLength = descInput.value.length;
        descCharacterCount.textContent = maxLength - currentLength;
      });
    </script>
  </body>
</html>
