<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Inventory | Y2Plush</title>
  </head>
  <body
    class="font-montserrat text-text-light fill-text-light from-secondary to-secondary-dark min-h-screen w-full bg-linear-to-b bg-fixed before:pointer-events-none before:fixed before:inset-0 before:-z-10 before:bg-[url('/images/wallpapers/homepage-bgi.png')] before:bg-repeat before:opacity-[0.03] before:content-['']"
  >
    <%- include("partials/navbar.ejs") %>
    <main>
      <section
        class="border-border-dark from-primary to-primary-dark fixed top-22 h-[calc(100vh-105px)] w-[200px] overflow-y-scroll rounded-r-xl border-y-2 border-r-2 bg-linear-to-b px-1 py-4 font-semibold"
      >
        <%- include("partials/category.ejs") %>
      </section>
      <section
        class="mt-[67px] ml-[200px] grid grid-cols-1 justify-items-center gap-5 p-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
      >
        <% items.forEach((item) => { %> <%- include("partials/itemCard.ejs",
        {...item}) %> <% }); %>
      </section>
    </main>
    <script>
      const toggleFilter = (e, categoryId) => {
        const list = document.getElementById(categoryId);
        const svg = e.target.closest("BUTTON").querySelector("svg");
        svg.classList.toggle("-rotate-180");
        list.classList.toggle("max-h-0");
        list.classList.toggle("max-h-96");
        list.classList.toggle("p-0");
        list.classList.toggle("py-2");
      };

      const greaterThanOrEqualSvg =
        '<svg class="inline size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5,2.27L20,10.14L6.5,18L5.5,16.27L16.03,10.14L5.5,4L6.5,2.27M20,20V22H5V20H20Z" /></svg>';
      const lessThanOrEqualSvg =
        '<svg class="inline size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.5,2.27L5,10.14L18.5,18L19.5,16.27L8.97,10.14L19.5,4L18.5,2.27M5,20V22H20V20H5Z" /></svg>';

      const updatePriceFilterValue = (e) => {
        const filterPriceValue = document.getElementById("filter-price-value");
        const { value, max } = e.target;

        filterPriceValue.innerHTML =
          value !== max
            ? `${lessThanOrEqualSvg} ${value}€`
            : `${greaterThanOrEqualSvg} ${value}€`;
      };
    </script>
  </body>
</html>
