<nav class="mx-6 flex justify-between">
  <section><h1>Y2Plush</h1></section>
  <section>
    <ul class="flex list-none gap-5" role="menubar">
      <li>
        <a
          class="bg-dark border-border text-text flex items-center gap-1.5 rounded-4xl border-[1px] px-5 py-1.5 no-underline"
          href="/"
        >
          <img class="fill-text size-8" src="./icons/home.svg" alt="" />
          <span>Home</span>
        </a>
      </li>
      <li>
        <a
          class="bg-dark border-border text-text flex items-center gap-1.5 rounded-4xl border-[1px] px-5 py-1.5 no-underline"
          href="/inventory"
          method="GET"
        >
          <img class="fill-text size-8" src="/icons/toolbox.svg" alt="" />
          <span>Inventory</span>
        </a>
      </li>
      <li>
        <a
          class="bg-dark border-border text-text flex items-center gap-1.5 rounded-4xl border-[1px] px-5 py-1.5 no-underline"
          href="/create"
        >
          <img class="fill-text size-8" src="/icons/plus-circle.svg" alt="" />
          <span>Create</span>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <form action="/search" method="GET">
      <img class="fill-text size-8" src="/icons/magnify.svg" alt="" />
      <input
        type="search"
        name="q"
        id="searchInput"
        placeholder="Search"
        autocomplete="on"
        aria-label="Search products"
        aria-describedby="search-help"
      />
      <button type="submit" aria-label="Submit search">
        <img
          class="fill-text size-8"
          src="/icons/chevron-right.svg"
          alt=""
          aria-hidden="true"
        />
      </button>
    </form>
  </section>
</nav>
