<form action="/inventory" class="accent-secondary" method="post">
  <% filters.forEach((filter) => { %> <%- include("filter.ejs", {...filter}) %>
  <% }); %>
  <div class="my-2 px-2">
    <label for="price-option">Price: </label>
    <span id="filter-price-value" class="font-medium"
      ><svg
        class="inline size-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M18.5,2.27L5,10.14L18.5,18L19.5,16.27L8.97,10.14L19.5,4L18.5,2.27M5,20V22H20V20H5Z"
        />
      </svg>
      20€</span
    >
    <input
      oninput="updatePriceFilterValue(event)"
      ondrag=""
      class="mt-1 w-full"
      type="range"
      name="price-option"
      id="price-option"
      min="5"
      max="50"
      step="5"
      value="20"
    />
  </div>
  <div class="mt-4 flex w-full justify-center">
    <button
      class="bg-secondary text-text-dark border-border-dark hover:border-border-light cursor-pointer rounded-4xl border-2 px-8 py-2 shadow-sm transition-colors"
      type="submit"
    >
      Apply
    </button>
  </div>
</form>
