<div
  class="bg-secondary-dark border-border-light text-text-dark h-74 w-52 rounded-md border-2 font-medium"
>
  <img
    class="h-3/5 w-full object-cover object-center"
    src="<%= imgSrc %>"
    alt="<%= imgAlt %>"
  />
  <h3><%= name %></h3>
</div>
