<span
  class="rounded-md px-2 py-1 text-xs font-medium text-nowrap shadow-sm"
  style="background-color: <%= bgColor %>; color: <%= textColor %>; border: 1.5px solid <%= borderColor %>;"
>
  <%= tag %>
</span>