<span
  class="rounded-md px-1 py-0.5 text-xs font-medium text-nowrap shadow-sm sm:px-2 sm:py-1"
  style="
    background-color: <%= bgColor %>;
    color: <%= textColor %>;
    border: 1.5px solid <%= borderColor %>;
  "
>
  <%= name %>
</span>
