@import "tailwindcss" source("./views");

@font-face {
  font-family: "Comico";
  src:
    url("/fonts/Comico.woff2") format("woff2"),
    url("/fonts/Comico.woff") format("woff"),
    url("/fonts/Comico.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-comico: "Comico", "Monsterrat", "sans-serif";
  --font-monsterrat: "Monsterrat", "sans-serif";

  --color-primary: --color-primary: "oklch(0.4662 0.1959 332.44)";
  --color-primary-dark: "oklch(0.3845 0.1586 332.64)";
  --color-border: "oklch(0.3292 0.133 332.43)";
  --color-text: "oklch(0.9078 0.0833 325.59)";
  --color-text-muted: "oklch(0.7488 0.2481 326.12)";
  --color-bg: "#fff3ff";
}
