@import "tailwindcss";

@theme {
  --font-comico: Comico, Montserrat, sans-serif;
  --font-montserrat: Montserrat, sans-serif;

  --color-primary: oklch(0.4662 0.1959 332.44);
  --color-primary-dark: oklch(0.3845 0.1586 332.64);
  --color-secondary: oklch(0.8412 0.1519 327.21);
  --color-secondary-dark: oklch(0.7725 0.2289 328.07);
  --color-border-dark: oklch(0.3292 0.133 332.43);
  --color-border-light: oklch(0.9321 0.0614 326.06);
  --color-text-light: oklch(0.9078 0.0833 325.59);
  --color-text-dark: oklch(0.3061 0.1381 332.03);
  --color-text-muted-light: oklch(0.7488 0.2481 326.12);
  --color-text-muted-dark: oklch(0.4488 0.2481 326.12);
  --color-bg: #fff3ff;
  --color-neutral-bg: oklch(1 0 0);
  --color-neutral-bg-dark: oklch(0.9521 0 0);
  --color-neutral-border: oklch(0.7155 0 0);
  --color-neutral-text-dark: oklch(0.1591 0 0);
  --color-neutral-text-light: oklch(0.9612 0 0);
  --color-neutral-text-muted: oklch(0.4202 0 0);
}

@layer components {
  .navlink {
    border: 2px solid var(--color-border-dark);
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 32px;
    padding: 4px 20px;
    text-decoration-line: none;
    font-weight: 500;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
  }

  .navlink:hover {
    border-color: var(--color-border-light);
  }

  .radial-gradient-fade {
    background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@font-face {
  font-family: "Comico";
  src:
    url("/fonts/Comico.woff2") format("woff2"),
    url("/fonts/Comico.woff") format("woff"),
    url("/fonts/Comico.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
